<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maintenance</title>
</head>
<body>
    <h1>We'll Be Back Soon...</h1>
    <p>We sincerely apologize for the inconvenience.</p>
    <p>Our site is currently undergoing scheduled maintenance and upgrades, but will return shortly.</p>
    <p>Thank you for your patience.</p>
</body>
</html>